@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.block-crypto-widget {
  color: white;
  border-radius: 10px;
  padding: 15px 20px !important;
  background-color: #282828 !important;
  font-weight: bold;
  font-family: Arial, icomoon, Helvetica, sans-serif;
}

.block-crypto-widget h2 {
  text-shadow: none !important;
}

.crypto-widget-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.crypto-widget-value {
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}

.crypto-widget-time {
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #eceff1;;
}

.crypto-widget-icon {
  font-size: 40px;
}

.crypto-widget-date {
  text-align: right;
  font-size: 12px;
  color: #eceff1;
}

.crypto-widget-title {
  margin-left: 30px;
  font-weight: 800;
  color: #63ccff;
}

.crypto-widget-change {
  color: #e53935;
}

.crypto-widget-change-day {
  color: #e53935;
}

.crypto-widget-change-week {
  color: #e53935;
}

.value-positive {
  color: #43a047;
}

.icon-ada .path1:before {
  content: "\e900";
  color: #0d1e30;
}
.icon-ada .path2:before {
  content: "\e901";
  color: #fff;
  margin-left: -1em;
}

.icon-atom .path1:before {
  content: "\e902";
  color: #2e3148;
}

.icon-atom .path2:before {
  content: "\e903";
  color: #fff;
  margin-left: -1em;
}

.icon-bch .path1:before {
  content: "\e904";
  color: #8dc351;
}
.icon-bch .path2:before {
  content: "\e905";
  color: #fff;
  margin-left: -1em;
}

.icon-bsv .path1:before {
  content: "\e906";
  color: #eab304;
}
.icon-bsv .path2:before {
  content: "\e907";
  color: #fff;
  margin-left: -1em;
}

.icon-btc .path1:before {
  content: "\e908";
  color: #f7931a;
}
.icon-btc .path2:before {
  content: "\e909";
  color: #fff;
  margin-left: -1em;
}

.icon-dash .path1:before {
  content: "\e90a";
  color: #008ce7;
}
.icon-dash .path2:before {
  content: "\e90b";
  color: #fff;
  margin-left: -1em;
}

.icon-etc .path1:before {
  content: "\e90d";
  color: #328332;
}
.icon-etc .path2:before {
  content: "\e90e";
  color: #fff;
  margin-left: -1em;
}

.icon-eth .path1:before {
  content: "\e90f";
  color: #627eea;
}
.icon-eth .path2:before {
  content: "\e910";
  color: #fff;
  margin-left: -1em;
}

.icon-fil .path1:before {
  content: "\e911";
  color: #42c1ca;
}
.icon-fil .path2:before {
  content: "\e912";
  color: #fff;
  margin-left: -1em;
}

.icon-link .path1:before {
  content: "\e913";
  color: #2a5ada;
}
.icon-link .path2:before {
  content: "\e914";
  color: #fff;
  margin-left: -1em;
}

.icon-ltc .path1:before {
  content: "\e915";
  color: #bfbbbb;
}
.icon-ltc .path2:before {
  content: "\e916";
  color: #fff;
  margin-left: -1em;
}

.icon-uni .path1:before {
  content: "\e917";
  color: #ff007a;
}
.icon-uni .path2:before {
  content: "\e918";
  color: #fff;
  margin-left: -1em;
}

.icon-usdc .path1:before {
  content: "\e919";
  color: #2775c9;
}
.icon-usdc .path2:before {
  content: "\e91a";
  color: #fff;
  margin-left: -1em;
}

.icon-usdt .path1:before {
  content: "\e91b";
  color: #26a17b;
}
.icon-usdt .path2:before {
  content: "\e91c";
  color: #fff;
  margin-left: -1em;
}

.icon-wbtc .path1:before {
  content: "\e91d";
  color: #201a2d;
}
.icon-wbtc .path2:before {
  content: "\e91e";
  color: #fff;
  margin-left: -1em;
}

.icon-xlm .path1:before {
  content: "\e91f";
  color: #000;
}
.icon-xlm .path2:before {
  content: "\e920";
  color: #fff;
  margin-left: -1em;
}
