<div class="widget" data-crypto-ticket = "{{ ticket }}" data-crypto-currency = "{{ currency }}" data-crypto-period = "{{ period }}">
    <div class="crypto-widget-header">
        <span class="crypto-widget-icon"><span class="path1"></span><span class="path2"></span></span>
        <span class="crypto-widget-title"> {{ token_label}} ({{ ticket }})</span>
    </div>
    <div class="crypto-widget-body">
        <div class="crypto-widget-value"><span class="crypto-widget-price"></span><span class="crypto-widget-currency"> {{ currency }}</span></div>
        <div class="crypto-widget-time">{{ 'Change in the last'|t }} <span class="crypto-widget-period">{{ period }}{{ 'min:'|t }} </span> <span class="crypto-widget-change"></span></div>
        <div class="crypto-widget-time">{{ 'Change in the last'|t }} <span class="crypto-widget-period">{{ '1D:'|t }}  </span> <span class="crypto-widget-change-day"></span></div>
        <div class="crypto-widget-time">{{ 'Change in the last'|t }} <span class="crypto-widget-period">{{ '7D:'|t }} </span> <span class="crypto-widget-change-week"></span></div>
        <div class="crypto-widget-date"></div>
    </div>
</div>